#khung{
    width: 300px;
    border: 1px solid;
    margin: auto;
}

#head{
    width: 100%;
    text-align: center;
    background-color:rgb(0, 90, 102);
    color:#fff;
    font-size: 25px;
}

#content{
    width: 100%;
    background-color:rgba(0, 160, 189, 0.89);
}

.left{
    width: 40%;
}

.right{
    width: 60%;
}

#mix{
    text-align: center;
}